.text-center{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}




.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}


.item-center{
    align-items: center;
}

